<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v25.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  
  <style>
    * {
      font-family: Vazir, DejaVu Sans, Segoe UI, Tahoma, sans-serif !important;
    }
    
    .ltr { direction: ltr; }
    .rtl { direction: rtl; }
    
    .white { color: white; }
    
    .icon {
      display: inline !important;
      vertical-align: middle !important;
      border: none !important;
      max-width: 1.5em;
      max-height: 1.5em;
    }
    
    .mono { font-family: monospace !important; }
    
    .plainlist { list-style-type: none; }

    .background {
      /*position: fixed;*/
      /*z-index: -9999;*/
      /*top: 0;*/
      /*left: 0;*/
      /*width: 100%;*/
      /*height: 100%;*/
      background-image: url(../assets/img/background.png);
      background-position: center center;
      background-size: cover;
    }

    .black {
      color: black;
    }

    .nofontstyle {
      font-style: normal !important;
    }

    @media(max-width: 710px) {
      .wrapper {
        width: calc(100% - 28px) !important;
      }
    }

    footer {
      padding-bottom: 0 !important;
    }
  </style>

{% seo %}

</head>

<body class="background" dir="rtl" style="direction: rtl;">
  <div class="wrapper">
    <header>
      <h1 class="title nofontstyle">{{ site.title | default: site.github.repository_name }}</h1>
    </header>
    <div id="container">
      <p class="tagline">{{ site.description | default: site.github.project_tagline }}</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          {% if site.show_downloads %}
          <a href="{{ site.github.tar_url }}" class="download-button tar"><span>Download</span></a>
          <a href="{{ site.github.zip_url }}" class="download-button zip"><span>Download</span></a>
          {% endif %}
          <a href="https://github.com/fadavi/newbies">
            مشاهده در گیت‌هاب
          </a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{ content }}
        </article>
      </div>
    </div>
    <footer>
      <div class="owner">
      {% if site.github.is_project_page %}
      <p><a href="{{ site.github.owner_url }}" class="avatar"><img src="{{ site.github.owner_gravatar_url }}" width="48" height="48"></a> <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> maintains <a href="{{ site.github.repository_url }}">{{ site.title | default: site.github.repository_name }}</a></p>
      {% endif %}

       {% if site.github.is_user_page %}
      <p><a href="{{ site.github.owner_url }}" class="avatar"><img src="{{ site.github.owner_gravatar_url }}" width="48" height="48"></a>View <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> on <a href="https://www.github.com">GitHub</a></p>
      {% endif %}
        
        <ul class="ltr plainlist">
          <li>
            <img class="icon" src="https://img.icons8.com/color/48/000000/email.png" alt="رایانامه"/>
            <span class="ltr mono">
              biesdotir [at] gmail [dot] com
            </span>     
          </li>
          <li>
            <img class="icon" src="https://img.icons8.com/color/48/000000/discord-new-logo.png" alt="دیسکورد"/>
            <a class="ltr" href="https://discord.gg/zKfzjpC">
              Newbies
            </a>
          </li>
          <li>
            <img class="icon" src="https://img.icons8.com/color/48/000000/telegram-app.png" alt="کانال تلگرام"/>
            <a class="ltr" href="https://t.me/bies_ir">
              @bies_ir
            </a>
          </li>
          <li>
            <img class="icon" src="https://img.icons8.com/color/48/000000/telegram-app.png" alt="گروه تلگرام"/>
            <a class="ltr" href="https://t.me/bies_gr">
              @bies_gr
            </a>
          </li>
          <li>
            <img class="icon" src="https://img.icons8.com/color/48/000000/twitter.png" alt="Twitter"/>
            <a class="ltr" href="https://twitter.com/bies_ir">
              @bies_ir
            </a>
          </li>
          <li>
            <img class="icon" src="https://img.icons8.com/color/48/000000/instagram-new.png"/>
            <a class="ltr" href="https://instagram.com/bies.ir">
              @bies.ir
            </a>
          </li>
        </ul>
      </div>
      <div class="creds">
        <small>
          &copy;
          تمامی حقوق نشر برای
          <a class="black" href="http://new.bies.ir">
            تازه‌کارا
          </a>
          محفوظ است.
          :)
        </small>
      </div>
    </footer>
  </div>
  <div class="current-section">
    <a href="#top">برو بالا</a>
    <a href="{{ site.github.tar_url }}" class="tar">tar</a><a href="{{ site.github.zip_url }}" class="zip">zip</a><a href="" class="code">source code</a>
    <p class="name"></p>
  </div>

  {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
</body>
</html>
